// ------ fonts ------
@import url("http://fonts.cdnfonts.com/css/playfair-display");
@import url("http://fonts.cdnfonts.com/css/raleway-5");

$main-font-family: 'Playfair Display', sans-serif;
$second-font-family: 'Raleway', sans-serif;


// ----- @extend ----
%title-font {
    font-family: $main-font-family;
    font-weight: 900;
    font-size: 44px;
    line-height: 48px;
}

%parag-font {
    font-family: $second-font-family;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

%btn-font {
    font-family: $second-font-family;
    font-weight: 900;
    font-size: 21px;
    line-height: 25px;
    @media screen and (max-width:991px) {
        font-size: 13px;
        line-height: 15px;
        }
}

%btn-green {
    height: 42px;
    @media screen and (min-width:992px) {
        width: 200px;
        height: 65px;
    }
    background-color: $color1-main;
    color: $color2-light;
    border: none;
    letter-spacing: 2.1px;
    transition: 0.3s;

    &:hover {
        background-color: #fff;
        color: $color1-main;
        border: $color1-main solid 1px;
    }

    a {
        @extend %aLink;
    }
}

%btn-white {
    height: 42px;
    @media screen and (min-width:992px) {
        width: 200px;
        height: 65px;
    }
    background-color: $color2-light;
    color: $color1-main;
    border: 3px solid $color1-main;
    letter-spacing: 2.1px;
    transition: 0.3s;

    &:hover {
        background-color: $color1-main;
        color: $color2-light;
        border: $color2-light solid 1px;
    }

    a {
        color: $color1-main;
        @extend %aLink;
    }
}

%aLink {
    &:link {
        text-decoration: none;
    }

    &:visited {
        text-decoration: none;
    }

    &:hover {
        color: $color1-main;
    }

    //&:active{
    //}
}

%box-shadow {
    box-shadow: -5px 10px 20px 0px rgba($color: #000, $alpha: 0.1);
}

%my {
    margin-top: 4%;
    margin-bottom: 4%;
}

%mx {
    margin-left: 10%;
}

%pb {
    padding-bottom: 10%;
}

%cardParag {
    width: 60%;
    padding: 5%;
    background-color: $color2-light;
    transform: translate(20%, 280%);
    @media screen and (min-width:992px) {
        transform: translate(20%, 180%);
    }
}

%card-link {
    position: relative;
    top: 75%;
    left: 19%;
    @media screen and (max-width:576px){
        top: 55%;
    }
    color: $color1-main;
    &:link {
        text-decoration: none;
    }
    &:visited {
        text-decoration: none;
    }
    &:hover {
        color: $color2-dark;
    }
}

// ----- @mixin -----
@mixin fonts($font-fam : $main-font-family, $font-wei : 900, $font-siz : 60px, $lin-hei : 71px) {
    font-family: $font-fam;
    font-weight: $font-wei;
    font-size: $font-siz;
    line-height: $lin-hei;
}
