// ------ nav bar ------
nav {
    position: fixed;
    z-index: 5;
    width: 100%;
    background-color: $color2-light;

    #navBarContent {

        display: flex;
        align-items: center;
        margin: auto;
        padding: 1%;
        width: 90%;
        @include fonts;
        @extend %pb;
        @media screen and (max-width: 576px) {
            justify-content: space-between;

        }

        // ---- Brand Ninja header ----
        .brandContent {
            display: flex;
            font-family: $second-font-family;
            font-weight: 400;
            font-size: 35px;
            line-height: 0px;
            position: relative;
            width: 30%;
            @media screen and (max-width: 576px) {
                font-weight: 900;
                font-size: 22px;
                line-height: 20px;
            }

            // -- Logo et mail link --
            .brandLogoA {
                width: 77px;
                height: 48px;
                position: absolute;
                bottom: -15px;

            }

            p {
                position: absolute;
                left: 80px;
                bottom: -30px;

                .brandMailLink {

                    color: $color2-dark;
                    @extend %aLink;
                }
            }

        }

        // --- nav links ---
        .navItems {
            @extend %parag-font;
            font-weight: 800;
            list-style: none;
            display: flex;
            justify-content: space-around;
            width: 40%;
            margin-left: auto;
            color: $color2-dark;

            @media screen and (max-width: 576px) {
                display: none;
                flex-direction: column;
                width: 100%;
            }


            .nav-link {
                color: $color2-dark;
                @extend %aLink;
                display: inline-block;
                position: relative;

                &:hover {
                    color: $color2-dark;
                    font-weight: 400;
                }

                &:hover:after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }

                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    transform-origin: bottom right;
                    background-color: $color1-main;
                    transition: transform 0.25s ease-out;
                    height: 5px;
                    bottom: -6px;
                    left: 0;
                }
            }
        }
        .miniNav{
            display: none;
            @media screen and (max-width: 576px) {
                display: flex;
                flex-direction: column;
                width: 10%;
                margin-left: 0;
                color: $color2-dark;
                font-family: $second-font-family;
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                font-weight: 800;
                list-style: none;
            }
        }

        .btn-0 {
            @extend %btn-font;
            font-size: 17px;
            @extend %btn-green;
            width: 168px;
            height: 41px;
            @media screen and (max-width: 576px){
                font-size: 11px;
                width: 115px;
                height: 25px;
            }
        }
        // --- hamburger ---
        .navButton{
            background-color: transparent;
            border: 10px;
            color: black;
            cursor: pointer;
            font-size: 30px;
            margin-left: 32px;
            float: right;
            line-height: 70px;
            display: none;
            &:focus{
                outline: none;
            }

            @media screen and (max-width: 576px) {
                display: block;
            }
        }
    }
}
