@import url("http://fonts.cdnfonts.com/css/playfair-display");
@import url("http://fonts.cdnfonts.com/css/raleway-5");
#section5 h2, #section4 h2, #section3 .cardX1 h2 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 48px;
}

#section4 .textOut, #section4 #dial .dialBox input, #section4 .card3imgcontent p, #section3 .cardX1 .cardX1arag, #section1 .card h3, #contentMotion, #footerContent .footerULs {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

#section6 .btn-4, #section4 #dial .dialBox #confirm, #section4 .card3imgcontent h4, #section2 #hero2 .imgBTN .btn-3, #section1 .btns .btn-1, #section1 .btns .btn-2, #footerContent .brandContent {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 21px;
  line-height: 25px;
}
@media screen and (max-width: 991px) {
  #section6 .btn-4, #section4 #dial .dialBox #confirm, #section4 .card3imgcontent h4, #section2 #hero2 .imgBTN .btn-3, #section1 .btns .btn-1, #section1 .btns .btn-2, #footerContent .brandContent {
    font-size: 13px;
    line-height: 15px;
  }
}

#section4 #dial .dialBox #confirm, #section1 .btns .btn-1.btn-1, nav #navBarContent .btn-0 {
  height: 42px;
  background-color: #4BA87D;
  color: #fff;
  border: none;
  letter-spacing: 2.1px;
  transition: 0.3s;
}
@media screen and (min-width: 992px) {
  #section4 #dial .dialBox #confirm, #section1 .btns .btn-1.btn-1, nav #navBarContent .btn-0 {
    width: 200px;
    height: 65px;
  }
}
#section4 #dial .dialBox #confirm:hover, #section1 .btns .btn-1:hover, nav #navBarContent .btn-0:hover {
  background-color: #fff;
  color: #4BA87D;
  border: #4BA87D solid 1px;
}
#section6 .btn-4, #section2 #hero2 .imgBTN .btn-3, #section1 .btns .btn-2.btn-2 {
  height: 42px;
  background-color: #fff;
  color: #4BA87D;
  border: 3px solid #4BA87D;
  letter-spacing: 2.1px;
  transition: 0.3s;
}
@media screen and (min-width: 992px) {
  #section6 .btn-4, #section2 #hero2 .imgBTN .btn-3, #section1 .btns .btn-2.btn-2 {
    width: 200px;
    height: 65px;
  }
}
#section6 .btn-4:hover, #section2 #hero2 .imgBTN .btn-3:hover, #section1 .btns .btn-2:hover {
  background-color: #4BA87D;
  color: #fff;
  border: #fff solid 1px;
}
#section6 .btn-4 a, #section2 #hero2 .imgBTN .btn-3 a, #section1 .btns .btn-2.btn-2 a {
  color: #4BA87D;
}

#section3 .cardsX2 .card-link:link, #footerContent .footerULs .footerULlink:link, #footerContent .brandContent .brandMailLink:link, nav #navBarContent .navItems .nav-link:link, nav #navBarContent .brandContent .brandMailLink:link, #section4 #dial .dialBox #confirm a:link, #section1 .btns .btn-1.btn-1 a:link, nav #navBarContent .btn-0 a:link, #section6 .btn-4 a:link, #section2 #hero2 .imgBTN .btn-3 a:link, #section1 .btns .btn-2.btn-2 a:link {
  text-decoration: none;
}
#section3 .cardsX2 .card-link:visited, #footerContent .footerULs .footerULlink:visited, #footerContent .brandContent .brandMailLink:visited, nav #navBarContent .navItems .nav-link:visited, nav #navBarContent .brandContent .brandMailLink:visited, #section4 #dial .dialBox #confirm a:visited, #section1 .btns .btn-1.btn-1 a:visited, nav #navBarContent .btn-0 a:visited, #section6 .btn-4 a:visited, #section2 #hero2 .imgBTN .btn-3 a:visited, #section1 .btns .btn-2.btn-2 a:visited {
  text-decoration: none;
}
#section3 .cardsX2 .card-link:hover, #footerContent .footerULs .footerULlink:hover, #footerContent .brandContent .brandMailLink:hover, nav #navBarContent .navItems .nav-link:hover, nav #navBarContent .brandContent .brandMailLink:hover, #section4 #dial .dialBox #confirm a:hover, #section1 .btns .btn-1.btn-1 a:hover, nav #navBarContent .btn-0 a:hover, #section6 .btn-4 a:hover, #section2 #hero2 .imgBTN .btn-3 a:hover, #section1 .btns .btn-2.btn-2 a:hover {
  color: #4BA87D;
}

#section4 .card3imgcontent p, #section4 .card3imgcontent h4, #section1 .btns, #section1 .card h3, #section1 .card h2 {
  margin-top: 4%;
  margin-bottom: 4%;
}

#section4 .card3imgcontent p, #section4 .card3imgcontent h4 {
  margin-left: 10%;
}

#section1, nav #navBarContent {
  padding-bottom: 10%;
}

#section3 .cardsX2 .cardParag {
  width: 58%;
  top: 84%;
  transform: translate(1%, 0%);
  padding: 5%;
  background-color: #fff;
}

#section3 .cardsX2 .card-link {
  transform: translate(0%, 100%);
  top: 150%;
  left: 5%;
  color: #4BA87D;
}
#section3 .cardsX2 .card-link:hover {
  color: #000;
}

nav {
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: #fff;
}
nav #navBarContent {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 0;
  width: 90%;
}
@media screen and (max-width: 576px) {
  nav #navBarContent {
    justify-content: space-between;
  }
}
nav #navBarContent .brandContent {
  display: flex;
  align-items: end;
  width: 30%;
}
nav #navBarContent .brandContent .navLogo {
  position: relative;
  bottom: 12px;
}
@media screen and (min-width: 992px) {
  nav #navBarContent .brandContent .navLogo {
    width: 77px;
    height: 48px;
  }
}
@media screen and (max-width: 991px) {
  nav #navBarContent .brandContent .navLogo {
    width: 50px;
    height: 30px;
  }
}
nav #navBarContent .brandContent .brandMailLink {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 41px;
}
@media screen and (max-width: 991px) {
  nav #navBarContent .brandContent .brandMailLink {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
  }
}
nav #navBarContent .navItems {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-left: auto;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 17px;
  line-height: 20px;
}
@media screen and (max-width: 576px) {
  nav #navBarContent .navItems {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  nav #navBarContent .navItems {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 11px;
    line-height: 13px;
  }
}
nav #navBarContent .navItems .nav-link {
  color: #000;
  display: inline-block;
  position: relative;
}
nav #navBarContent .navItems .nav-link:hover {
  color: #000;
  font-weight: 400;
}
nav #navBarContent .navItems .nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
nav #navBarContent .navItems .nav-link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom right;
  background-color: #4BA87D;
  transition: transform 0.25s ease-out;
  height: 5px;
  bottom: -6px;
  left: 0;
}
nav #navBarContent .btn-0 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 17px;
  line-height: 20px;
  width: 168px;
  height: 41px;
}
@media screen and (max-width: 991px) {
  nav #navBarContent .btn-0 {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 11px;
    line-height: 13px;
    width: 115px;
    height: 25px;
  }
}
nav #navBarContent .hamburgerButton {
  background-color: transparent;
  border: 10px;
  color: black;
  cursor: pointer;
  font-size: 30px;
  margin-left: 32px;
  float: right;
  line-height: 70px;
  display: none;
}
nav #navBarContent .hamburgerButton:focus {
  outline: none;
}
@media screen and (max-width: 576px) {
  nav #navBarContent .hamburgerButton {
    display: block;
  }
}
nav .miniNavHide {
  display: none;
}
nav .miniNavShow {
  display: none;
  width: 90%;
  justify-content: space-between;
  padding-left: 5%;
  color: #000;
  list-style: none;
}
@media screen and (max-width: 576px) {
  nav .miniNavShow {
    display: flex;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
  }
  nav .miniNavShow .nav-link {
    color: #000;
    display: inline-block;
    position: relative;
  }
  nav .miniNavShow .nav-link:link {
    text-decoration: none;
  }
  nav .miniNavShow .nav-link:hover {
    color: #000;
    font-weight: 400;
  }
  nav .miniNavShow .nav-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  nav .miniNavShow .nav-link:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom right;
    background-color: #4BA87D;
    transition: transform 0.25s ease-out;
    height: 5px;
    bottom: -6px;
    left: 0;
  }
}

#footerContent {
  padding: 5%;
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  #footerContent {
    flex-direction: column;
    align-items: center;
  }
}
#footerContent .brandContent {
  display: flex;
}
#footerContent .brandContent .brandLogoA {
  width: 92px;
  height: 46px;
}
#footerContent .brandContent .brandMailLink {
  color: #000;
}
#footerContent .footerULs {
  font-weight: 700;
  list-style: none;
  display: flex;
  width: 60%;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  #footerContent .footerULs {
    flex-direction: column;
    align-items: center;
    width: 30%;
  }
}
@media screen and (max-width: 576px) {
  #footerContent .footerULs .alignUL {
    text-align: center;
    padding-bottom: 15%;
  }
}
#footerContent .footerULs .alignUL li {
  padding-bottom: 10%;
}
#footerContent .footerULs .footerULlink {
  color: #000;
}

.conteneurDiviseur {
  display: flex;
  justify-content: center;
}
.conteneurDiviseur .diviseur {
  width: 1088px;
  height: 2px;
  background: #DBDBDB;
}

#contentMotion {
  width: 80%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  font-size: 15px;
}
@media screen and (max-width: 576px) {
  #contentMotion {
    flex-direction: column;
    font-size: 9px;
    font-weight: 700;
    align-items: center;
  }
}
#contentMotion .motionRight {
  width: 35%;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 576px) {
  #contentMotion .motionRight {
    flex-direction: column;
    text-align: center;
  }
}

body {
  margin: 0;
}

#section1 {
  display: flex;
  width: 80%;
  margin: auto;
  padding-top: 70px;
}
@media screen and (max-width: 576px) {
  #section1 {
    padding-top: 110px;
  }
}
#section1 .hero {
  z-index: 1;
  background-image: url(../assets/femme_pc.png);
  background-position-x: right;
  background-position-y: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
}
@media screen and (min-width: 992px) {
  #section1 .hero {
    height: 383px;
  }
}
@media screen and (max-width: 576px) {
  #section1 .hero {
    height: 212px;
  }
}
#section1 .card {
  width: 55%;
}
@media screen and (max-width: 576px) {
  #section1 .card {
    width: 90%;
    justify-content: center;
    margin: auto;
    padding-left: 10%;
  }
}
#section1 .card h2 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 900;
  font-size: 38px;
  line-height: 46px;
}
@media screen and (max-width: 576px) {
  #section1 .card h2 {
    font-family: "Playfair Display", sans-serif;
    font-weight: 900;
    font-size: 22px;
    line-height: 28px;
  }
}
@media screen and (min-width: 992px) {
  #section1 .card h2 {
    font-family: "Playfair Display", sans-serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 71px;
  }
}
@media screen and (max-width: 576px) {
  #section1 .card h3 {
    font-size: 10px;
    line-height: 16px;
    width: 85%;
  }
}
#section1 .btns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
#section1 .btns .btn-1, #section1 .btns .btn-2 {
  width: 45%;
}
@media screen and (max-width: 576px) {
  #section1 .btns .btn-1, #section1 .btns .btn-2 {
    height: 30px;
  }
}
#section2 {
  background-color: #F7F7F7;
}
#section2 #hero2 {
  background-image: url(../assets/rue_video.png);
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  padding: 5%;
  display: flex;
  justify-content: center;
  width: 70%;
  height: 530px;
}
@media screen and (max-width: 576px) {
  #section2 #hero2 {
    height: 150px;
  }
}
#section2 #hero2 .imgBTN {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#section2 #hero2 .imgBTN h2 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 900;
  font-size: 38px;
  line-height: 46px;
  color: #fff;
  z-index: 1;
  margin-top: auto;
}
@media screen and (max-width: 576px) {
  #section2 #hero2 .imgBTN h2 {
    font-family: "Playfair Display", sans-serif;
    font-weight: 900;
    font-size: 33px;
    line-height: 28px;
  }
}
@media screen and (min-width: 992px) {
  #section2 #hero2 .imgBTN h2 {
    font-family: "Playfair Display", sans-serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 71px;
  }
}
#section2 #hero2 .imgBTN .btn-3 {
  border: none;
  z-index: 2;
  margin-bottom: auto;
}
@media screen and (max-width: 576px) {
  #section2 #hero2 .imgBTN .btn-3 {
    height: 30px;
  }
}

#section3 {
  width: 80%;
  margin: auto;
  margin-top: 2%;
  display: flex;
  font-family: "Playfair Display", sans-serif;
  font-weight: 500;
  font-size: 19px;
  line-height: 26px;
}
@media screen and (max-width: 576px) {
  #section3 {
    flex-direction: column;
    height: 690px;
    font-family: "Playfair Display", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }
}
#section3 .cardsX2 {
  width: 65%;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  #section3 .cardsX2 {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}
#section3 .cardsX2 .cardsSect3 {
  background-repeat: no-repeat;
  height: 275px;
}
@media screen and (min-width: 992px) {
  #section3 .cardsX2 .cardsSect3 {
    width: 50%;
  }
}
@media screen and (max-width: 576px) {
  #section3 .cardsX2 .cardsSect3 {
    width: 70%;
  }
}
#section3 .cardsX2 .card1sect3 {
  background-image: url(../assets/femme-asiatique.png);
}
@media screen and (min-width: 992px) {
  #section3 .cardsX2 .card1sect3 {
    position: relative;
  }
}
@media screen and (max-width: 576px) {
  #section3 .cardsX2 .card1sect3 {
    margin-top: 15%;
  }
}
#section3 .cardsX2 .card2sect3 {
  background-image: url(../assets/reunion.png);
}
@media screen and (min-width: 992px) {
  #section3 .cardsX2 .card2sect3 {
    position: relative;
  }
}
@media screen and (max-width: 576px) {
  #section3 .cardsX2 .card2sect3 {
    margin-top: 33%;
  }
}
@media screen and (max-width: 576px) {
  #section3 .cardsX2 .cardParag {
    margin-top: 80%;
    width: 84%;
    padding: 7%;
  }
}
#section3 .cardsX2 .card-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
}
@media screen and (min-width: 992px) {
  #section3 .cardsX2 .card-link {
    position: absolute;
  }
}
#section3 .cardX1 {
  width: 35%;
  margin: 0px;
}
@media screen and (max-width: 576px) {
  #section3 .cardX1 {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
}
@media screen and (max-width: 576px) {
  #section3 .cardX1 .cardX1arag {
    width: 80%;
  }
}
@media screen and (max-width: 576px) {
  #section3 .cardX1 h2 {
    padding-top: 25%;
    font-size: 28px;
    line-height: 31px;
  }
}

#section4 {
  width: 80%;
  padding-top: 15%;
  padding-bottom: 2%;
  margin: auto;
  color: #fff;
}
@media screen and (max-width: 576px) {
  #section4 {
    padding-top: 70%;
  }
}
#section4 .card3imgcontent {
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
}
@media screen and (max-width: 576px) {
  #section4 .card3imgcontent {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}
#section4 .card3imgcontent .cardsSect4 {
  display: flex;
  flex-direction: column;
  background-position-x: left;
  background-repeat: no-repeat;
  justify-content: end;
  width: 27%;
  height: 240px;
}
#section4 .card3imgcontent .card1sect4 {
  background-image: url(../assets/restaurateur.png);
}
@media screen and (max-width: 576px) {
  #section4 .card3imgcontent .card1sect4 {
    width: 70%;
    padding-bottom: 5%;
  }
}
#section4 .card3imgcontent .card2sect4 {
  background-image: url(../assets/femme-restau.png);
}
@media screen and (max-width: 576px) {
  #section4 .card3imgcontent .card2sect4 {
    width: 70%;
    padding-bottom: 5%;
  }
}
#section4 .card3imgcontent .card3sect4 {
  background-image: url(../assets/femme-comptoir.png);
}
@media screen and (max-width: 576px) {
  #section4 .card3imgcontent .card3sect4 {
    width: 70%;
    padding-bottom: 5%;
  }
}
#section4 .card3imgcontent h4 {
  transform: translate(0%, 50%);
  font-size: 34px;
  z-index: 2;
}
@media screen and (max-width: 576px) {
  #section4 .card3imgcontent h4 {
    font-size: 21px;
    line-height: 26px;
  }
}
#section4 .card3imgcontent p {
  font-weight: 700;
  z-index: 2;
}
#section4 h2 {
  width: 80%;
  margin: auto;
  padding-top: 2%;
  text-align: center;
  color: black;
}
@media screen and (max-width: 576px) {
  #section4 h2 {
    font-size: 26px;
    line-height: 36px;
  }
}
#section4 #dial {
  border: none;
  padding: 3%;
  width: 46%;
}
@media screen and (max-width: 576px) {
  #section4 #dial {
    width: 70%;
  }
}
#section4 #dial .dialBox {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  #section4 #dial .dialBox {
    flex-direction: column;
    align-items: center;
  }
}
#section4 #dial .dialBox input {
  box-sizing: border-box;
  width: 420px;
  height: 65px;
}
@media screen and (max-width: 576px) {
  #section4 #dial .dialBox input {
    margin-bottom: 5%;
    height: 43px;
  }
}
@media screen and (max-width: 576px) {
  #section4 #dial .dialBox #confirm {
    width: 144px;
    height: 42px;
    font-size: 13px;
    line-height: 15px;
  }
}
#section4 .textOut {
  padding: 3%;
  text-align: center;
  color: #4BA87D;
}

#section5 {
  width: 80%;
  padding: 7%;
  margin: auto;
  text-align: center;
}
#section5 h2 {
  padding: auto;
  width: 40%;
  height: 150px;
  margin: auto;
}
@media screen and (max-width: 576px) {
  #section5 h2 {
    padding-top: 35%;
    width: 100%;
    font-size: 26px;
    line-height: 36px;
  }
}
#section5 .logos {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  #section5 .logos {
    flex-direction: column;
    width: 30%;
  }
}
@media screen and (max-width: 576px) {
  #section5 .logos .logo {
    padding-bottom: 20%;
  }
}

#section6 {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 6%;
  background-color: #4BA87D;
}
#section6 h2 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 71px;
  color: #fff;
}
@media screen and (max-width: 576px) {
  #section6 h2 {
    font-size: 42px;
    line-height: 48px;
  }
}
@media screen and (max-width: 576px) {
  #section6 .btn-4 {
    font-size: 13px;
    line-height: 15px;
    width: 135px;
    height: 42px;
  }
}/*# sourceMappingURL=stylesheet.css.map */