@import './variables';
@import './fonts';
@import './header';
@import './footer';


body {
    margin: 0;
}

// --- section 1 hero ---
#section1 {
    display: flex;
    width: 80%;
    margin: auto;
    padding-top: min(90px);
    @extend %pb;

    // hero -- section 1 --
    .hero {
        z-index: 1;
        background-image: url(../assets/femme_pc.png);
        background-position-x: right;
        background-position-y: center;
        background-repeat: no-repeat;
        width: 100%;
        @media screen and (min-width: 992px) {
            height: 383px;
        }
        @media screen and (max-width: 576px) {
            height: 212px;
        }
        height: 250px;
    }

    // card
    .card {
        width: 55%;
        @media screen and (max-width: 576px) {
            width: 75%;
            justify-content: center;
            margin: auto;
        }

        h2 {
            @extend %my;
            @include fonts($main-font-family, $font-wei : 900, $font-siz : 38px, $lin-hei : 46px);
            @media screen and (max-width: 576px) {
                @include fonts($font-siz : 22px, $lin-hei : 28px);
            }
            @media screen and (min-width: 992px) {
                @include fonts;
            }
        }

        h3 {
            @extend %parag-font, %my;
            @media screen and(max-width: 576px) {
                font-size: 10px;
                line-height: 16px;
                width: 85%;
            }
        }
    }

    // boutons -- section 1 --
    .btns {
        @extend %my;
        width: 80%;
        display: flex;
        justify-content: space-between;

        .btn-1 {
            @extend %btn-font, %btn-green;
            width: 45%;
            @media screen and (max-width: 576px) {
                font-size: 10px;
                line-height:15px;
                height: 30px;
            }
        }

        .btn-2 {
            @extend %btn-font, %btn-white;
            width: 45%;
            @media screen and (max-width: 576px) {
                font-size: 10px;
                line-height:15px;
                height: 30px;
            }
        }
    }
}

// --- section 2 hero2 ---
#section2 {
    background-color: $back-color-light;

    #hero2 {
        background-image: url(../assets/rue_video.png);
        background-position: center;
        background-repeat: no-repeat;
        width: 70%;
        height: 530px;
        @media screen and (max-width: 576px) {
            height: 150px;
        }
        margin: auto;
        padding: 5%;
        display: flex;
        justify-content: center;

        .imgBTN {
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                @include fonts($main-font-family, $font-wei : 900, $font-siz : 38px, $lin-hei : 46px);
                @media screen and (max-width: 576px) {
                    @include fonts($font-siz : 33px, $lin-hei : 28px);
                }
                @media screen and (min-width: 992px) {
                    @include fonts;
                }
                color: $color2-light;
                z-index: 1;
                margin-top: auto;
            }

            .btn-3 {
                @extend %btn-font, %btn-white;
                @media screen and (max-width: 576px) {
                    font-size: 6px;
                    line-height: 7px;
                    width: 80px;
                    height: 25px;
                }
                z-index: 2;
                border: none;
                margin-bottom: auto;
            }
        }
    }
}

// --- section 3 cardsX2img + cardX1 ---
#section3 {
    @include fonts($main-font-family, 500, 19px, 26px);
    width: 80%;
    margin: auto;
    margin-top: 2%;
    display: flex;
    @media screen and (max-width:576px){
        flex-direction: column;
        height: 690px;
        @include fonts($main-font-family, 500, 12px, 16px);
    }

    // --- groupe cardsX2img ----
    .cardsX2 {
        width: 65%;
        display: flex;
        @media screen and (max-width:576px){
            flex-direction: column;
            width: 100%;
            align-items: center;
        }
        margin: auto;
        justify-content: space-between;

        .cardsSect3 {
            background-repeat: no-repeat;
            height: 275px;
            @media screen and (min-width: 992px) {
                width: 50%;
            }
            @media screen and (max-width:576px){
                width: 70%;
            }
        }

        // flex card 1 (gauche)
        .card1sect3 {
            background-image: url(../assets/femme-asiatique.png);
            @media screen and (min-width:992px) {
                position: relative;
            }
            @media screen and (max-width:576px){
                margin-top: 15%;
            }
        }

        // flex card 2 (milieu)
        .card2sect3 {
            background-image: url(../assets/reunion.png);
            @media screen and (min-width:992px) {
                position: relative;
            }
            @media screen and (max-width:576px){
                margin-top: 33%;
            }
        }

        // paragraphe de flex card
        .cardParag {
            @extend %cardParag;
            @media screen and (max-width:576px){
                margin-top: 80%;
                width: 84%;
                padding: 7%;
            }

        }

        // lien "learn more" des cardsX2img
        .card-link {
            @media screen and (min-width:992px) {
                position: absolute;
            }
            @include fonts($second-font-family, 800, 16px, 19px);
            @extend %aLink, %card-link;
        }
    }

    // ---  cardX1 sans image --
    .cardX1 {
        width: 35%;
        @media screen and (max-width:576px){
            width: 100%;
            padding-top: 5%;
            padding-bottom: 5%;
        }
        margin: 0px;
        .cardX1arag{
            @extend %parag-font;
            @media screen and (max-width: 576px) {
                width: 80%;;
            }
        }

        h2 {
            @extend %title-font;
            @media screen and (max-width: 576px) {
                padding-top: 25%;
                font-size: 28px;
                line-height: 31px;
            }
        }
    }

}

// --- section 4 card3img x3 ---
#section4 {
    width: 80%;
    padding-top: 15%;
    padding-bottom: 2%;
    margin: auto;
    color: $color2-light;
    @media screen and (max-width: 576px) {
        padding-top: 70%;
    }

    // -- card3img 1 + 2 + 3 --
    .card3imgcontent {
        display: flex;
        justify-content: space-between;
        padding-top: 5%;
        @media screen and (max-width: 576px) {
            flex-direction: column;
            width: 100%;
            align-items: center;
        }

        .cardsSect4 {
            display: flex;
            flex-direction: column;
            background-position-x: left;
            background-repeat: no-repeat;
            justify-content: end;
            width: 27%;
            height: 240px;
        }

        // --- image card ---
        .card1sect4 {
            background-image: url(../assets/restaurateur.png);
            @media screen and (max-width: 576px) {
                width: 70%;
                padding-bottom: 5%;
            }
        }

        // --- image card ---
        .card2sect4 {
            background-image: url(../assets/femme-restau.png);
            @media screen and (max-width: 576px) {
                width: 70%;
                padding-bottom: 5%;
            }
        }

        // --- image card ---
        .card3sect4 {
            background-image: url(../assets/femme-comptoir.png);
            @media screen and (max-width: 576px) {
                width: 70%;
                padding-bottom: 5%;
            }
        }

        h4 {
            @extend %btn-font, %mx, %my;
            transform: translate(0%, 50%);
            //height: 50%;
            font-size: 34px;
            z-index: 2;
            @media screen and (max-width: 576px) {
                font-size: 21px;
                line-height: 26px;
            }
        }

        p {
            @extend %parag-font, %mx, %my;
            //height: 25%;
            font-weight: 700;
            z-index: 2;
        }
    }

    // -- title Section 4 --
    h2 {
        @extend %title-font;
        width: 80%;
        margin: auto;
        padding-top: 2%;
        text-align: center;
        color: black;
        @media screen and (max-width:576px) {
            font-size: 26px;
            line-height: 36px;
        }
    }

    // -- input mail Section 4 --
    #dial {
        border: none;
        padding: 3%;
        width: 46%;
        @media screen and (max-width:576px) {
            width: 70%;
        }

        .dialBox {
            display: flex;
            justify-content: space-between;
            @media screen and (max-width: 576px){
                flex-direction: column;
                align-items: center;
            }

            input {
                box-sizing: border-box;
                width: 420px;
                height: 65px;
                @extend %parag-font;
                @media screen and (max-width:576px) {
                    margin-bottom: 5%;
                    //width: 100%;
                    height: 43px;
                }
            }

            #confirm {
                @extend %btn-green, %btn-font;
                @media screen and (max-width:576px) {
                    width: 144px;
                    height: 42px;
                    font-size: 13px;
                    line-height: 15px;
                }
            }
        }
    }

    // texte de remerciement après clic
    .textOut {
        @extend %parag-font;
        padding: 3%;
        text-align: center;
        color: $color1-main;
    }
}

// --- section 5 title et logos ---
#section5 {
    width: 80%;
    padding: 7%;
    margin: auto;
    text-align: center;

    h2 {
        @extend %title-font;
        padding: auto;
        width: 40%;
        height: 150px;
        margin: auto;
        @media screen and (max-width:576px) {
            padding-top: 35%;
            width: 100%;
            font-size: 26px;
            line-height: 36px;
        }
    }

    .logos {
        display: flex;
        width: 90%;
        margin: auto;
        justify-content: space-between;
        @media screen and (max-width: 576px) {
            flex-direction: column;
            width: 30%;
        }
        .logo{
            @media screen and (max-width:576px) {
                padding-bottom: 20%;
            }
        }
    }
}

// --- section 6 fond vert
#section6 {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 6%;

    h2 {
        @include fonts;
        color: #fff;
        @media screen and (max-width:576px) {
            font-size: 42px;
            line-height: 48px;
        }
    }

    background-color: $back-color-main;

    .btn-4 {
        @extend %btn-white, %btn-font;
        @media screen and (max-width:576px) {
            font-size: 13px;
            line-height: 15px;
            width: 135px;
            height: 42px;
        }
    }
}
